<h1>Dashboard</h1>
<h2 class="mt-5">Device Usage</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th>Assigned</th>
      <th>Available</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Desktop</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Desktop</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Desktop</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
    </tr>
  </tbody>
</table>


<h2 class="mt-5">Software Compliance</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total</th>
      <th>Assigned</th>
      <th>Available</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Desktop</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Desktop</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Desktop</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
