<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>
  <p>
    <strong>Employee:</strong>
    <%= device.employee.first_name + " " + device.employee.last_name%>
  </p>

</div>
