<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
  </p>

  <p>
    <strong>Category:</strong>
  </p>

  <p>
    <strong>Assigned To:</strong>
    <%= device.employee.first_name + " " + device.employee.last_name%>
  </p>

</div>
