<p style="color: green"><%= notice %></p>

<h1>Devices</h1>

<div id="devices">
  <% @devices.each do |device| %>
    <%= render device %>
  <% end %>
</div>

<%= link_to "New device", new_device_path %>
