<p style="color: green"><%= notice %></p>

<h1>Softwares</h1>

<div id="softwares">
  <% @softwares.each do |software| %>
    <%= render software %>
  <% end %>
</div>

<%= link_to "New software", new_software_path %>
