<p style="color: green"><%= notice %></p>

<h1>Manufacturers</h1>

<div id="manufacturers">
  <% @manufacturers.each do |manufacturer| %>
    <%= render partial: "manufacturer", locals: { manufacturer: manufacturer } %>
  <% end %>
</div>
